  <script type="text/x-handlebars" data-template-name="signup_bar">
    <div class="ui-widget-overlay"></div>
      <div class="login-dialog panel">
        <div id="login-title" class="ui-dialog-titlebar">{{title}}</div>
        {{view Ember.TextField id="username" class="rounded-corners-4" placeholder="Email or nickname" valueBinding="LoginApp.Controllers.loginController.content.username"}}<br/>
        {{view Ember.TextField id="password" class="rounded-corners-4" placeholder="Password" type="password" valueBinding="LoginApp.Controllers.loginController.content.password"}}<br/>
        {{#view Ember.Button target="LoginApp.Controllers.loginController" class="rounded-corners-4" action="submitLogin"}}Send{{/view}}
        <div id="login-message">{{loginMessage}}</div>
      </div>
  </script>