
<section id="impressum" class="static-content">
<h1>Impressum</h1>

<p>5D Lab GmbH<br>
Georges-Köhler-Allee 79<br>
D-79110 Freiburg</p>
<p>
Tel: +49 761 203 8043<br>
Fax: +49 761 203 8007</p>
<p>
info@5dlab.com<br>
<a href="http://www.5dlab.com">www.5dlab.com</a></p>

<p>Geschäftsführer:<br>
Dr. Patrick Fox, Dr. Sascha Lange, Hajo Runne</p>
<p>Amtsgericht: Freiburg<br>
HRB: 708164<br>
Umsatzsteuer-ID: DE282148373</p>

<p>Inhaltlich Verantwortlich: Hajo Runne</p>

</section>


<section id="licenses"  class="static-content">

<p><b>We make use of the following open source software:</b></p>
<ul>
  <li><b>Ember.js</b>, Copyright 2012, Yehuda Katz, Tom Dale, Charles Jolley and Ember.js contributors</li>  
  <li><b>jQuery</b>, Copyright 2011, John Resig</li>  
  <li><b>Lightbox 2</b>, Copyright 2013, Lokesh Dhakar</li>  
  <li><b>EaselJS</b>, Copyright 2011, gskinner.com inc</li>  
</ul>
  
</section>
