// Place all the styles related to the Announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#announcement {
  margin: 0px auto;
  padding: 0px;
  color: #555;
  background-color: white;
  text-align: center;
  max-width: 800px;
}

.menubarbackground {
  background-image: url('lp/switchbar_02.png');
  height: 50px;
  background-position: center top;
}

.menubarbackground-bottom {
  background-image: url('lp/switchbar_03.png');
  background-position: center top;
  height: 54px;
}

.menubarbackground > img {
  overflow: visible;
  float: left;
}

.menubarbackground #langswitch {
  float: right;
  text-align: left;
}

#menubar ul {
  height:40px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

#menubar li {
  display: inline;
  font-size: 14px;
  line-height: 14px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 20px;
  color: #777;
}

#wad-logo {
  position: absolute;
  left: 40px;
  top: 6px;
}

#top-controls.announcements {
  position: absolute;
  right: 100px;
  width: 200px;
  text-align: right;
}

.fullsize {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

article a:link,a:visited,a{
  transition-property:none;
  -moz-transition-property:none;
  -o-transition-property:none;
  -webkit-transition-property:none;
}

article {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "Trebuchet MS", Verdana, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 26px;
  text-shadow: none;
  text-align: left;
  margin: 40px 0px;
}

article h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "Trebuchet MS", Verdana, sans-serif;
  font-weight: lighter;
  font-size: 48px;
  line-height: 64px;
  margin: 48px 0 16px 0;
  color: #EC8A43;
}

article h1 a:visited,
article h1 a:link {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "Trebuchet MS", Verdana, sans-serif;
  color: #EC8A43;
}

article td h1 {
  margin-top: 0px;
}

article a:link,
article a:visited {
  color: #EC8A43;  
}

article a:hover {
  text-decoration: underline;
}

article h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "Trebuchet MS", Verdana, sans-serif;
  margin: 24px 0 8px 0;
  font-size: 24px;
  line-height: 36px;
  color: #555;
  font-weight: normal;
}

article td img.icon {
  margin: 2px 20px 4px 0px;
  float: left;
  width: 128px;
}

article > img.icon:first-of-type {
  margin: -4px 0px 10px 10px;
  float: right;
  width: 172px;
}


article p {
  font-size: 18px;
  line-height: 26px;
  margin: 12px 0px;
}

article ul {
  display: table;
}

article * td {
  vertical-align: top
}

article .author.single {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "Trebuchet MS", Verdana, sans-serif;
  float: left;
}

article .author {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "Trebuchet MS", Verdana, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #AAA;
  margin-bottom: 24px;
  margin-top: -18px;
  float: none;
}

article .author .name {
  color: #2C679C;
}

article .author .date {
  color: #AAA;
}

article .statistics {
  width: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "Trebuchet MS", Verdana, sans-serif;
  text-align: right;
  font-size: 14px;
  margin: -20px 0px 64px 0px;
}

article:first-of-type .statistics {
  margin: 24px 0px 6px 0px;
}

.article-navigation {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "Trebuchet MS", Verdana, sans-serif;
  font-size: 16px;
  margin: 48px 0px 96px 0px;
  color: #DDD;
}

