// Place all the styles related to the Announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#announcement {
  margin: 0px auto;
  padding: 0px;
  color: #555;
  background-color: white;
  font-size: 12pt;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-shadow: white 0px 1px 1px;
  max-width: 800px;
}

.menubarbackground {
  background-image: url(lp/switchbar_02.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menubarbackground > img {
  overflow: visible;
  float: left;
}

.menubarbackground #langswitch {
  float: right;
  text-align: left;
}

.fullsize {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

article h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "Trebuchet MS", Verdana, sans-serif;
  margin: 36pt 0 0 0;
  font-size: 36pt;
  color: #FA0;
  font-weight: normal;
}

article h1 a:visited,
article h1 a:link {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "Trebuchet MS", Verdana, sans-serif;
  color: #FA0;
}

article h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "Trebuchet MS", Verdana, sans-serif;
  margin: 20pt 0 0 0;
  font-size: 18pt;
  color: #555;
  font-weight: normal;
}

article > img.icon {
  margin: -6px 10px 4px 0px;
  float: left;
  width: 128px;
}

article > img.icon.first {
  margin: -10px 0px 10px 10px;
  float: right;
  width: 172px;
}

article * p {
  margin: 0px;
}

article ul {
  display: table;
}

article * td {
  vertical-align: top
}

article .statistics {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "Trebuchet MS", Verdana, sans-serif;
  float: right;
}

article .author.single {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "Trebuchet MS", Verdana, sans-serif;
  float: left;
}

article .author {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, "Trebuchet MS", Verdana, sans-serif;
  font-size: 9pt;
  color: #AAA;
  margin-bottom: 20pt;
  margin-top: -4pt;
  float: none;
}

article {
  text-align: left;
  margin: 40px 0px;
}
