// Place all the styles related to the Announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#announcement {
  margin: 0px auto;
  padding: 0px;
  color: #555;
  background-color: white;
  font-size: 14px;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-shadow: white 0px 1px 1px;
  max-width: 800px;
}

.menubarbackground {
  background-image: url(lp/switchbar_02.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menubarbackground > img {
  overflow: visible;
  float: left;
}

.menubarbackground #langswitch {
  float: right;
  text-align: left;
}

.fullsize {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

article h1 {
  margin: 0px;
}

article > img.icon {
  margin-right: 10px;
  float: left;
}

article * p {
  margin: 0px;
}

article * td {
  vertical-align: top
}

article {
  text-align: left;
  margin: 40px 0px;
}
